**
!dist
!dist/*
!dist/**/*
!.env*
!.*rc
!*.config.js
!*scripts*
!*scripts*/*
!src
!src/*
!src/**/*
!public
!public/*
!public/**/*
!packages/*
!packages/**/*
!package.json
!yarn.lock
!serve.json
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
